.contact-card {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .profile-photo-lg {
    border-radius: 50%;
    width: 120px; 
    height: 120px;
  }
  
  .btn-edit, .btn-delete {
    margin-top: .5rem;
  }
  
 